/* Estilos generales para el cuerpo del documento */
body {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Alinea los elementos al centro horizontalmente */
    margin: 0; /* Elimina el margen predeterminado del navegador */
    padding: 20px; /* Agrega un relleno de 20px alrededor del contenido */
}

/* Estilos para las tablas */
table {
    border-collapse: collapse; /* Colapsa los bordes de las celdas en una sola línea */
    margin-top: 20px; /* Agrega un margen superior de 20px */
}

/* Estilos para las celdas de la tabla */
td {
    border: 1px solid #ddd; /* Agrega un borde gris claro a las celdas */
    padding: 8px; /* Agrega un relleno de 8px dentro de las celdas */
}

/* Estilos para listas desordenadas */
ul {
    list-style-type: disc; /* Utiliza un estilo de lista con viñetas */
    padding-left: 20px; /* Agrega un relleno a la izquierda para alinear las viñetas */
}

/* Estilos para la sección de información adicional */
.table-azul {
    background-color: blue; /* Establece un color de fondo azul */
    color: white; /* Establece el color del texto en blanco */
    padding: 10px; /* Agrega un relleno de 10px alrededor del contenido */
    margin-top: 20px; /* Agrega un margen superior de 20px */
}

/* Estilos para el texto de la edad */
#Edad-color {
    color: blue; /* Establece el color del texto en azul */
}

/* Estilos para mensajes de error */
.error-message {
    border: none; /* Elimina cualquier borde alrededor del mensaje */
    color: red; /* Establece el color del texto en rojo */
    text-align: center; /* Centra el texto dentro del elemento */
}